<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <div class="nav-collapse collapse">
            <ul class="nav">
             
              <li class="">
                <a href="./getting-started.html">My Books</a>
              </li>
              <li class="">
                <a href="./scaffolding.html">Contact</a>
              </li>
			  <li class="">
                <a href="./scaffolding.html">Login</a>
              </li>
             
            </ul>
          </div>
        </div>
      </div>
    </div>